* {
	color: #fff;
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	margin: 8px;
	height: 100%;
}

#jobs {
	overflow: hidden;
}

.job {
	border-radius: 15px;
	height: 20%;
	margin-bottom: 3px;
	text-align: left;
}

.job:last-child {
	margin-bottom: 0;
}

.job .jobname {
	position: relative;
	padding: 0px 0px 0px 10px;
	width: 35%;
	float: left;
}

.job .jobname h2{
	width: 100%;
}

.job .jobinfo {
	position: relative;
	width: 60%;
	float: right;
}

.job.failure {
	background-color: #ff2500;
}

.job.failure.building {
	background-color: #0000FF;
}

.job.success {
	background-color: #00ac00;
}

.job.unstable {
	background-color: #ff9a00;
}

.job.unstable.building {
	background-color: #0000FF;
}

.job.success.building {
	background-color: #0000FF;
}

.job.aborted {
	background-color: #708090;
}

.job.aborted.building {
	background-color: #0000FF;
}

.job.unreachable {
    background-color: #444;
    background-image: url('../img/skull.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 6%;
}

    .job.unreachable h2 {
        color: #999;
    }

.job .vcs-info {
	position: relative;
	margin: 3px;
	padding: 3px;
}

.job .culprits {
	border-radius: 8px;
	background-color: #8b0000;
	position: relative;
	margin: 3px;
	padding: 3px;
}

.job .culprits h3 {
	display: inline-block;
	font-size: 1.7em;
	padding-right: 10px;
}

.job .culprits ul,
.job .vcs-info ul {
	display: inline;
	list-style-type: none;
}

.job .culprits ul li {
	display: inline;
	font-size: 1.7em;
	padding-right: 10px;
}

.job .vcs-info ul li {
	display: inline-block;
	font-size: 1.7em;
	padding-right: 10px;
}

.job .vcs-info ul li .msg {
	text-overflow: ellipsis;
	-moz-binding: url("ellipsis.xml#ellipsis");
	display: block;
	width: 200px;
}

.job .culprits ul li:after {
	content: ','
}

.job .culprits ul li:last-child:after {
	content: ''
}
