<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="EasyBuildMonitor"/>
	<title>{{monitorName}}</title>
	<link type="text/css" rel="stylesheet" href="css/buildmonitor.css" />
	<script src="js/scripts"></script>
	<script src="js/buildmonitor.js"></script>

</head>
<body>

	<div id="jobs"></div>

</body>
</html>
