<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="EasyBuildMonitor"/>
    <title>Easy Build Monitor</title>
    <link type="text/css" rel="stylesheet" href="css/joblist.css" />
    <script src="/{{ screen }}/js/scripts"></script>
    <script src="/js/buildmonitor.js"></script>

</head>
<body>

<h1>Easy Build Monitor</h1>

    <nav>
        <ul><li><a href="/jenkins/" title="local Jenkins instance">Jenkins</a></li></ul>
        <ul><li><a href="/munin/" title="local node monitoring">munin</a></li></ul>
    </nav>

<h2>Pick your poison:</h2>
<ul>
    {% for monitor in monitors %}
    <li><a href="/{{ monitor.slug }}" title="{{ monitor.slug }}">{{ monitor.slug }}</a></li>
    {% endfor %}
</ul>

</body>
</html>
